@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-bg: #383a3f;
    --color-red: #ff99a2;
    --color-white: #fff;
    --color-yellow: #e7cd50;
    --color-grey: #aeaeae;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}
html {
    background-color: var(--color-bg);
}
body {
    font-family: 'Montserrat';
    background-image: url(/bg.png);
    background-size: cover;
    color: white;
    border: solid 1px var(--color-bg);
}
body #root {
    margin: 0 12%;
    padding: 0 3%;
    border-left: solid 1px var(--color-white);
    border-right: solid 1px var(--color-white);
    min-height: 100vh;
}
input {
    padding: 14px 20px;
    color: var(--color-white);
    background-color: #ffffff5e;
    border: solid 1px var(--color-white);
    border-radius: 24px;
}
input::placeholder {
    color: #dbdbdb;
}
button {
    padding: 8px 20px;
    color: var(--color-white);
    border-radius: 20px;
    border: solid 1px var(--color-white);
    cursor: pointer;
    transition: 0.5s;
}
button:hover {
    filter: contrast(0.9);
}
.secondary {
    background-color: #ffffff30;
}
.primary {
    background-color: #ff6161;
}
.img {
    padding: 0;
    background: none;
    border: none;
}
a {
    color: var(--color-white);
    text-decoration: none;
    transition: 0.5s;
}
a:hover {
    filter: contrast(0.9);
}
hr {
    position: absolute;
    border-top: solid 1px var(--color-white);
    border-bottom: 0px;
    left: calc(12% + 1px);
    width: calc(100% - 24% - 2px);
}

/* Content emelent */
.content {
    min-height: 80vh;
    margin-bottom: 50px;
}
.content__title {
    text-align: center;
    margin: 40px 0;
}

/* Header emelent */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.header .header__content,
.header .header__payment {
    display: flex;
    gap: 25px;
}
.header__payment-block {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__logout {
    margin-top: 2px;
    cursor: pointer;
    transition: 0.5s;
}
.header__logout:hover {
    filter: contrast(0.5);
}

/* Footer emelent */
.footer {
    padding: 40px 0;
}
.footer__title {
}
.footer__container {
    display: flex;
    height: 100px;
    justify-content: flex-end;
    align-items: flex-end;
}
.footer__policy {
    font-size: 12px;
    color: var(--color-grey);
    text-decoration: none;
}

/* LoginForm */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.login-form__content {
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    padding: 50px;
    background-color: #fff3;
    border-radius: 20px;
    border: solid 1px var(--color-white);
}
.login-form__email {
    margin-bottom: 36px;
}
.login-form__password {
    margin-bottom: 4px;
}
.login-form__reset {
    font-size: 12px;
    margin-left: 4px;
}

/* Main page */
.main__welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
}
.main__title {
    margin: 16px 0;
}
.main__description {
    text-align: center;
}
.main__buttons {
    display: flex;
    gap: 14px;
}
.main__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0;
}
.main__text-block:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    text-align: end;
}
.main__text-block:last-child {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.main__paragraph {
    max-width: 450px;
}
.main__span {
    color: var(--color-red);
}
.main__blur {
    position: absolute;
    background: var(--color-yellow);
}
#main__blur-top {
    width: 200px;
    height: 250px;
    top: 10px;
    left: -100px;
    transform: rotate(67deg);
    filter: blur(150px);
}
#main__blur-bottom {
    width: 200px;
    height: 100px;
    bottom: 0;
    right: 0;
    transform: rotate(0deg);
    filter: blur(100px);
}

/* Rates page */
.rates {
}
.rates__list-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.rates__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 20px;
    min-width: 21.4vw;
    background-color: #ffffff1c;
    border-radius: 20px;
    border: solid 1px var(--color-white);
}
.rates__name {
    font-weight: 400;
    text-align: center;
}
.rates__description {
    color: var(--color-red);
    text-align: center;
}
.rates__sale-block {
    position: relative;
}
.rates__sale-price {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -15px;
    color: var(--color-grey);
    filter: blur(0.5px);
}

/* Exercises List page */
.exercises-list__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30vw);
    justify-items: center;
    justify-content: center;
    gap: 50px;
}
.exercises-list__card {
    cursor: pointer;
}
.exercises-list__img {
    width: 30vw;
    border-radius: 24px 24px 0 0;
}
.exercises-list__text-block {
    background-color: var(--color-white);
    padding: 15px;
    border-radius: 0 0 24px 24px;
}
.exercises-list__text {
    color: black;
}

/* Exercise page */
.exercise {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exercise__header {
    display: flex;
    align-items: center;
    gap: 20px;
}
.exercise__video {
    max-height: 75vh;
}

/* Page 404 */
.not-found__content {
    display: flex;
    justify-content: center;
}
.not-found__img {
    border-radius: 20px;
}

@media all and (max-device-width: 767px) {
    .header {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .rates__list-cards {
        margin-bottom: 40px;
    }
    .rates__card {
        width: 100%;
    }
}
