@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/bebas-neue-cyrillic/bebasneuecyrillic.ttf');
}
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter/inter.ttf');
}

:root {
    --color-bg: #f3f4ff;

    --color-pink: #ad0d49;
    --color-green: #ddff63;
    --color-white: #fff;
    --color-black: #040612;

    --color-blue: #1e32a6;
    --color-blue-medium: #12217b;
    --color-blue-light: #e7f9ff;
    --color-blue-bright: #74dfff;
    --color-blue-dark: #061152;

    --color-grey: #454545;
    --color-grey-light: #e5e5e5;

    /* --color-dark: #a1a1a1;
    --color-blur: #4a3144;

    --btn-primary: #7187ff;
    --btn-primary-hover: #5e76ff;

    --btn-secondary: #ffffff20;
    --btn-secondary-hover: #ffffff40; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
    font-family: 'Inter';
    color: var(--color-grey);
    background-color: var(--color-bg);
    border: solid 1px var(--color-bg);
    overflow-x: hidden;
}
body #root {
    /* margin: 0 8%; */
    /* padding: 0 2%; */
    min-height: 100vh;
}
input {
    font-size: medium;
    padding: 14px 20px;
    color: var(--color-grey);
    background-color: #ffffff5e;
    min-width: 250px;
    border: solid 1px var(--color-grey);
    border-radius: 24px;
}
input::placeholder {
    color: #3d3d3d;
}
input:focus {
    border-color: var(--color-grey);
    outline: var(--color-grey);
}
b {
    font-weight: 600;
}
li {
    font-size: medium;
    margin-left: 30px;
}
h1 {
    font-size: xx-large;
}
h2 {
    font-size: 82px;
    font-weight: 700;
    color: var(--color-black);
}
h3 {
    font-size: 28px;
    font-weight: 600;
    color: var(--color-black);
}
span {
    /* main text */
    font-size: 18px;
    font-weight: 400;
    color: var(--color-black);
}
button {
    font-size: smaller;
    padding: 8px 20px;
    background: none;
    border-radius: 20px;
    border: solid 1px var(--color-grey);
    transition: 0.5s;
    cursor: pointer;
}
.secondary {
    background-color: var(--btn-secondary);
}
.secondary:hover {
    background-color: var(--btn-secondary-hover);
}
.primary {
    color: var(--color-white);
    background-color: var(--btn-primary);
}
.primary:hover {
    background-color: var(--btn-primary-hover);
}
.img {
    padding: 0;
    background: none;
    border: none;
}
a {
    color: var(--color-grey);
    text-decoration: none;
    transition: 0.5s;
}
a:hover {
    filter: contrast(0.9);
}
.txt-center {
    text-align: center;
}

/* For Doc */
.offerta h3,
.policy h3,
.agreement h3 {
    margin-top: 20px;
}
.offerta a,
.policy a,
.agreement a {
    text-decoration: underline;
}

/* Content emelent */
.content {
    min-height: 70vh;
    margin-bottom: 50px;
}
.content__title {
    font-family: 'Bebas Neue';
    color: var(--color-black);
    margin: 40px 0;
    text-align: center;
}

/* Header emelent */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    background-color: var(--color-white);
}
.header__title {
    font-family: 'Bebas Neue';
    font-size: 24px;
}
.header__btn {
    font-family: 'Bebas Neue';
    padding: 8px 20px 6px 20px;
}
.header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    padding: 6px;
    border-radius: 6px;
}
header .header__content,
header .header__payment {
    display: flex;
    gap: 25px;
}
.header__payment-block {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__logout {
    margin-top: 2px;
    cursor: pointer;
    transition: 0.5s;
    filter: invert(1);
}
.header__logout:hover {
    filter: contrast(0.5);
}
.header__primary:hover {
    color: var(--color-grey);
    background-color: var(--btn-secondary-hover);
}
.header__secondary:hover {
    background-color: var(--btn-secondary-hover);
}
.burger__page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 18px;
    animation: show 1s linear;
}
.burger__page a {
    font-family: 'Bebas Neue';
    text-decoration: underline;
    z-index: 999;
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Footer emelent */
footer {
    padding: 52px 40px;
    background: linear-gradient(to bottom, #061152, #01a1ff);
    min-height: 80vh;
    border-radius: 30px 30px 0 0;
}
.footer__name-link {
    display: flex;
    justify-content: space-between;
}
.footer__social-media {
    display: flex;
    gap: 5px;
}
.footer__social-media_img:hover {
    filter: sepia(1);
    transition: 0.3s;
}
.footer__title {
    font-family: 'Bebas Neue';
    font-size: 24px;
    color: var(--color-white);
}
.footer__subtitle {
    font-size: 16px;
    color: var(--color-white);
}
.footer__block-navigation {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer__block-data {
    margin-bottom: 24px;
}
.footer__block-data,
.footer__block-link {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer__navigation_title,
.footer__data_title {
    font-size: 16px;
    color: var(--color-white);
    margin: 48px 0 4px 0;
}
.footer__navigation_option,
.footer__data_option,
.footer__link_option {
    font-size: 14px;
    color: var(--color-white);
}
.footer__link_option {
    text-decoration: underline;
}
.footer__block-creator {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
}
.footer__creator {
    font-size: larger;
    color: var(--color-green);
    padding: 2px;
}
.footer__creator_link {
    color: var(--color-green);
    text-decoration: underline;
    cursor: pointer;
    z-index: 999;
    padding: 2px;
}

/* LoginForm */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.login-form__content {
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    padding: 30px;
    background-color: #fff3;
    border-radius: 20px;
    border: solid 1px var(--color-white);
}
.login-form input {
    width: 100%;
}
.login-form__email {
    margin-bottom: 24px;
}
.login-form__password-block {
    position: relative;
}
.login-form__password {
    margin-bottom: 4px;
}
.login-form__img {
    position: absolute;
    top: 15px;
    right: 18px;
    filter: invert(1);
}
.login-form__label {
    margin-bottom: 4px;
}
.login-form__link {
    margin-top: 4px;
}
.login-form__label,
.login-form__link {
    font-size: small;
    margin-left: 4px;
    width: fit-content;
    transition: 0.5s;
}
.login-form__link:hover {
    color: var(--color-grey);
}
.login-form__link-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.login__btn {
    font-family: 'Bebas Neue';
    padding: 8px 20px 6px 20px;
    color: var(--color-black);
}

/* ResetForm element*/
.reset-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Main page */
/* Case link */
.case__block_block-details {
    display: flex;
    justify-content: center;
    width: 100%;
}
.case__block_details {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    min-width: 30%;
    margin-top: 130px;
    background-image: url(/case.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.case__block_details_title {
    color: var(--color-white);
    max-width: 215px;
    text-align: center;
}
.case__block_btn .main__link_btn {
    width: auto;
}
.case__block_btn span {
    color: var(--color-pink);
    font-weight: 600;
}

.main__result .case__block_details {
    background-image: url(/bg-benefit.jpg);
}
.main__result .case__block_btn span {
    color: var(--color-blue);
    font-weight: 600;
}
/* Page */
.block {
    margin-top: 120px;
    padding: 0 120px;
    min-height: 90vh;
}
/* Title */
.main__whom_title,
.main__result_title,
.main__stage__title,
.main__tariff_title,
.main__diet_title,
.main__whom-food_title,
.main__calories_title,
.main__whom-calories_title,
.main__analyzes_title {
    margin-bottom: 80px;
}

.main__welcome {
    padding: 0 0 24px 24px;
    margin: 40px 120px;
    position: relative;
    background: linear-gradient(to bottom, #ffd5eb84, #0022ff7e);
    border-radius: 30px;
    min-height: calc(100vh - 140px);
    z-index: 1;
}
.main__welcome_title {
    font-family: 'Bebas Neue';
    font-size: 180px;
    padding: 44px 0 0 24px;
    font-weight: 500;
    line-height: 0.9;

    color: #061152;
    background-image: linear-gradient(to right, #040612 0%, #182678 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main__welcome_subtitle {
    font-size: 240px;
    font-family: 'Bebas Neue';
    padding: 0 0 0 24px;
    font-weight: 500;
    line-height: 0.9;

    color: #061152;
    background-image: linear-gradient(to right, #040612 0%, #182678 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main__welcome_block-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 14px;
}
.main__welcome_block-connect {
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    width: 100px;
    height: 100px;
    justify-content: center;
    border-radius: 100%;
}
.main__welcome_connect {
    font-size: 32px;
    color: #1e32a6;
    font-weight: 600;
}
.main__welcome_block-strength {
    padding: 16px 20px;
    background-color: var(--color-white);
    border-radius: 100px;
}
.main__welcome_btn {
    padding: 20px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-green);
    width: 55%;
    border-radius: 15px;
}
.main__welcome_avatar {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.main__about-me_title {
    margin-bottom: 32px;
}
.main__about-me_subtitle {
    margin-bottom: 80px;
}
.main__about-me_block-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
}
.main__about-me_card {
    display: flex;
    align-items: center;
    gap: 24px;
}
.main__about-me_card_block-img {
    display: flex;
    min-width: 70px;
    min-height: 70px;
    background-color: var(--color-white);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.main__benefits-me {
    padding: 52px 0;
    background-image: url('/bg-benefit.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}
.main__benefits-me_title {
    color: var(--color-white);
    text-align: center;
}
.main__benefits-me_card {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.main__benefits-me_btns {
    width: 50vw;
    text-align: center;
}
.main__benefits-me_btn {
    cursor: auto;
}

.main__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 16px;
}
.main__card {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: baseline;
    padding: 18px;
    border-radius: 15px;
    background-color: var(--color-white);
}

.main__result {
    padding-top: 52px;
    padding-bottom: 52px;
    background-color: var(--color-blue-dark);
    border-radius: 30px;
}
.main__result_title {
    color: var(--color-white);
    text-align: center;
}
.main__result-block {
    display: flex;
    justify-content: center;
}
.main__result-img {
    max-height: 60vh;
    border-radius: 20px;
    border: 1px solid var(--color-white);
}
.main__result-title {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.main__result_slider {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    gap: 16px;
}
.main__result_block-person {
    grid-column: span 3;
    background-color: var(--color-blue);
    border-radius: 15px;
}
.main__result_person {
    display: flex;
    gap: 16px;
    padding: 16px;
}
.main__result_person_img {
}
.main__result_person_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.main__result_person_name {
    color: var(--color-white);
}
.main__result_person_years {
    color: var(--color-white);
}
.main__result_block-a,
.main__result_block-b {
    grid-column: span 2;
    padding: 16px;
    background-color: var(--color-blue-medium);
    border-radius: 15px;
}
.main__result_a_img,
.main__result_b_img {
}
.main__result_a_title,
.main__result_b_title {
    color: var(--color-white);
}
.main__result_a_text,
.main__result_b_text {
    color: var(--color-white);
}
.main__result_block-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 2 / 4;
    grid-column: 3;
    padding: 16px;
    background-color: var(--color-blue-medium);
    border-radius: 15px;
}
.main__result_img {
    width: 100%;
    border-radius: 8px;
}
.main__result_img_block-desc {
    display: flex;
    justify-content: space-between;
    padding: 8px 4px 0 4px;
}
.main__result_img_desc {
    color: var(--color-white);
}
.main__result_block-switch {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 60px;
}
.main__result_switch-left,
.main__result_switch-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: var(--color-white);
    border-radius: 100px;
    cursor: pointer;
}

.main__stage__title {
    margin-bottom: 80px;
}
.main__stage_block-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.main__stage_card {
    position: relative;
    padding: 24px;
    background-color: var(--color-white);
    border-radius: 15px;
}
.main__stage_card_index {
    font-size: 28px;
    font-weight: 600;
    color: #1e32a6bf;
    margin-bottom: 20px;
}
.main__stage_card_title {
    margin-top: 16px;
}
.main__stage_block-arrow {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    background-color: var(--color-green);
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 8px;
    border-radius: 100%;
    cursor: pointer;
}

.main__tariff {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.main__tariff_title {
    text-align: start;
    width: 100%;
}
.main__tariff_block-plan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 52px;
    width: 100%;
}
.main__tariff_plan {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
}
.main__tariff_input {
    accent-color: var(--color-blue);
    min-width: auto;
}
.main__tariff_input::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    font-size: 30px;
    background-image: url('/icons/fire.svg');
    background-repeat: no-repeat;
    transition: 500ms;
}
.main__tariff_block-info {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    width: 100%;
    background-color: var(--color-white);
    border-radius: 15px;
}
.selected .main__tariff_block-info {
    background-color: var(--color-blue);
}
.selected .main__tariff_info_title,
.selected .main__tariff_info_description,
.selected .main__tariff_info_price {
    color: var(--color-white);
}
.main__tariff_info_title,
.main__tariff_info_description,
.main__tariff_info_price {
    color: var(--color-black);
}
.main__block-link_btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
}
.main__link_btn {
    padding: 12px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    width: 30%;
    border-radius: 15px;
    border: solid;
    cursor: pointer;
}

/* main__nutritionist */
.main__nutritionist {
    padding-bottom: 100px;
    background: linear-gradient(
        to bottom,
        #ffe998 0%,
        #ffd5eb 6%,
        #d5f96e 41%,
        #d2f870 73%,
        #ffdb59 90%,
        #ffd5eb 100%
    );
    border-radius: 30px;
}
.main__nutrition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}
.main__nutrition_block-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.main__nutrition_text_title {
    font-size: 4vw;
    padding-top: 52px;
}
.main__nutrition_text_description {
    color: var(--color-grey);
}
.main__nutrition_block-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 16px 16px 16px;
    height: 500px;
    max-width: 680px;
    background-image: url(/nutrition.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}
.main__nutrition_block-img .main__link_btn {
    width: 100%;
}
.main__nutrition_block-img .main__link_btn span {
    color: var(--color-pink);
}
.main__nutrition_img_title {
    font-family: 'Bebas Neue';
    font-size: 4vw;
    color: var(--color-white);
}

.main__analyzes_subtitle {
    color: var(--color-white);
}
.main__analyzes_sale {
    color: var(--color-green);
}
.main__analyzes_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 24px;
    background-color: var(--color-pink);
    border-radius: 15px;
}
.main__analyzes_card_icon {
    width: fit-content;
}
.main__analyzes_span {
    color: var(--color-white);
}

.main__dreams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}
.main__dreams_title {
    font-family: 'Bebas Neue';
    font-size: 8vw;
    color: var(--color-blue);
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    width: 54vw;
    min-width: fit-content;
    background-color: var(--color-white);
    padding: 20px 10px 10px 10px;
    border-radius: 20px;
}
.main__dreams .main__link_btn {
    background-color: var(--color-blue);
}
.main__dreams .main__link_btn span {
    color: var(--color-green);
}

/* Policy page */
.policy p {
    margin-left: 16px;
}

/* Subscription page */
.subscription__list-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.subscription__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    min-width: 300px;
    padding: 20px;
    background-color: #ffffff1c;
    border-radius: 20px;
    border: solid 1px var(--color-white);
}
.subscription__btn {
    font-family: 'Bebas Neue';
    padding: 8px 20px 6px 20px;
}
.subscription__name {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}
.subscription__description {
    color: var(--color-blue);
    text-align: center;
}
.subscription__sale-block {
    position: relative;
}
.subscription__sale-price {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    top: -13px;
    right: -17px;
    color: var(--color-grey);
    filter: blur(0.5px);
}
.subscription__price {
    font-size: 32px;
}

/* Exercises List page */
.exercises-list__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30vw);
    justify-items: center;
    justify-content: center;
    gap: 50px;
}
.exercises-list__card {
    cursor: pointer;
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
}
.exercises-list__card:hover {
    filter: invert(1);
    transition: 0.5s;
}
.exercises-list__img-block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5469ff20;
    border-radius: 24px 24px 0 0;
}
.exercises-list__img {
    display: flex;
    align-items: center;
    width: 30vw;
    border-radius: 24px 24px 0 0;
}
.exercises-list__text-block {
    background-color: var(--color-white);
    padding: 15px;
    border-radius: 0 0 24px 24px;
}
.exercises-list__text {
    color: black;
}

/* Exercise page */
.exercise {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exercise__header {
    display: flex;
    align-items: center;
    gap: 20px;
}
.exercise__img-block {
    position: relative;
}
.exercise__img {
    position: absolute;
    right: 12px;
    top: 14px;
}
.exercise__list-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.exercise__video-block {
    border-radius: 10px;
}
.exercise__video {
    background: var(--color-dark);
    min-height: 75vh;

    max-height: 75vh;
    max-width: 75vw;
    border-radius: 10px;
}
.exercise__name {
    font-size: large;
    margin-top: 2px;
}
.exercise__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Page 404 */
.not-found__content {
    display: flex;
    justify-content: center;
}
.not-found__img {
    border-radius: 20px;
}

/* Loader */
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid var(--btn-primary);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 4px;
    top: 4px;
    border: 2px solid var(--color-white);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.registration,
.login,
.subscription,
.reset,
.password {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Burger */
.burger-checkbox {
    position: absolute;
    visibility: hidden;
}
.burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 34px;
    height: 25px;
    margin: 30px auto;
    z-index: 999;
    transform: scale(0.9);
}
.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: var(--color-grey);
}
.burger::before {
    top: 0;
    box-shadow: 0 11px 0 var(--color-grey);
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.burger::after {
    bottom: 1px;
    transition: bottom 0.3s 0.15s, transform 0.3s;
}
.burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
}

/* #main__img {
    display: none;
} */
.swiper-wrapper {
    display: flex;
    align-items: center;
}

/*Изменения скорлла*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-dark);
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background-color: var(--color-white);
}
