@media all and (max-device-width: 768px) {
    h2 {
        font-size: 48px;
    }
    header {
        padding: 16px 40px;
    }
    .block {
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 130px;
    }

    .main__whom_title,
    .main__result_title,
    .main__stage__title,
    .main__tariff_title,
    .main__diet_title,
    .main__whom-food_title,
    .main__calories_title,
    .main__whom-calories_title,
    .main__analyzes_title {
        margin-bottom: 48px;
    }

    .main__welcome {
        margin: 24px 20px;
        min-height: calc(85vh - 140px);
        overflow: hidden;
    }
    .main__welcome_title {
        font-size: 15vw;
        padding: 24px 0 0 0;
    }
    .main__welcome_subtitle {
        font-size: 20vw;
        padding: 0;
    }
    .main__welcome_avatar {
        max-width: 490px;
        right: -75px;
    }
    .main__welcome_block-message {
        position: absolute;
        bottom: 100px;
        align-items: flex-start;
    }
    .main__welcome_block-strength {
        width: 60vw;
        margin-left: 5%;
    }
    .main__welcome_block-connect {
        margin-right: 75%;
    }
    .main__welcome_btn {
        position: absolute;
        bottom: 20px;
        padding: 12px 22px;
        width: calc(100% - 48px);
    }

    .main__about-me_title {
        margin-bottom: 16px;
    }
    .main__about-me_subtitle {
        margin-bottom: 48px;
    }
    .main__about-me_block-card {
        grid-template-columns: 1fr;
    }

    .main__whom_title {
        margin-bottom: 48px;
    }
    .main__card-list {
        grid-template-columns: 1fr;
    }

    .main__result_title {
        padding-top: 48px;
        margin-bottom: 48px;
    }
    .main__result_block-a,
    .main__result_block-b {
        grid-column: span 3;
    }
    .main__result_block-img {
        grid-column: span 3;
        grid-row: auto;
    }

    .main__stage__title {
        margin-bottom: 48px;
    }
    .main__stage_block-card {
        grid-template-columns: 1fr;
    }

    .main__nutrition {
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .main__link_btn {
        width: 55%;
    }
    .main__tariff_block-info {
        width: 100%;
    }
}
/* Между планшетом и телефоном */
@media (min-width: 480px) and (max-width: 540px) {
    .main__welcome_title {
        /* font-size: 75px; */
    }
    .main__welcome_subtitle {
        /* font-size: 120px; */
    }
    .main__welcome_avatar {
        max-width: 430px;
        right: -115px;
    }
}
@media all and (max-device-width: 480px) {
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 20px;
    }
    .header__title {
        display: none;
    }
    .burger {
        margin: 10px auto;
    }
    .block {
        min-height: 75vh;
        padding-left: 16px;
        padding-right: 16px;
    }
    .main__link_btn {
        width: 100%;
    }

    .exercises-list__content {
        grid-template-columns: 1fr;
        padding: 0 30%;
    }
    .exercises-list__img-block {
        min-height: 35vh;
    }
    .exercises-list__img {
        width: 60vw;
    }

    .main__welcome {
        margin: 16px;
        min-height: 580px;
    }
    .main__welcome_title {
        /* font-size: 55px; */
    }
    .main__welcome_subtitle {
        /* font-size: 20vw; */
    }
    .main__welcome_avatar {
        max-width: 370px;
        left: 20vw;
    }
    .main__welcome_block-message {
        position: absolute;
        bottom: 100px;
    }
    .main__welcome_block-strength {
        width: 265px;
        margin-left: 10%;
    }
    .main__welcome_btn {
        position: absolute;
        bottom: 20px;
        padding: 12px 22px;
    }

    .main__about-me_card_block-img {
        min-width: 60px;
        min-height: 60px;
    }

    .main__result_img {
        min-height: 20vh;
        max-height: 21vh;
    }
    .main__result-img {
        max-height: auto;
        max-width: 100%;
    }

    .main__nutrition {
        display: flex;
        align-items: center;
    }
    .main__nutrition_text_title {
        font-size: 11vw;
    }
    .main__nutrition_img_title{
        font-size: 10vw;
    }

    .case__block_details {
        margin-bottom: 20px;
        min-width: 100%;
    }

    .main__dreams_block-title,
    .main__dreams_title {
        font-size: 13vw;
        width: 100%;
    }
}
@media all and (max-device-width: 375px) {
    header .header__payment {
        gap: 10px;
    }

    .block {
        min-height: 60vh;
    }

    .main__about-me_card_block-img {
        min-width: 50px;
        min-height: 50px;
    }
    .main__about-me_card_block-img img {
        width: 35px;
        height: 35px;
    }
}
