/* 
@media screen and (min-width: 1441px) {
    h1 {
        font-size: xx-large;
    }
    .main__title {
        font-size: xx-large;
    }
    .main__description {
        font-size: x-large;
    }
    .main__paragraph {
        max-width: 800px;
        font-size: x-large;
    }
}
@media all and (max-device-width: 1440px) {
    .main__content {
        padding: 80px 0;
    }
}

@media all and (max-device-width: 980px) {
    .main__welcome-img {
        width: 43%;
    }
}
@media all and (max-device-width: 768px) {
    body #root {
        margin: 0 5%;
        padding: 0 2%;
    }
    header {
        padding: 30px 5px;
    }
    .header__btn {
        margin-right: 30px;
    }
    .main__welcome {
        flex-direction: column;
    }
    .main__welcome-img {
        width: auto;
    }
    .main__title,
    .main__description {
        text-align: center;
    }
    .main__buttons {
        justify-content: center;
    }
    .exercise__video-block {
        display: flex;
        justify-content: center;
    }
    .subscription__list-cards {
        margin-bottom: 40px;
    }
    .subscription__card {
        width: 100%;
    }
}
@media all and (max-device-width: 425px) {
    h1 {
        font-size: x-large;
    }
    h2 {
        font-size: large;
    }
    .header__content {
        align-items: center;
    }
    header .header__content,
    header {
        gap: 10px;
    }
    .main__result-img {
        width: 100%;
    }
    button {
        font-size: smaller;
        padding: 8px 14px;
    }
    .exercises-list__content {
        grid-template-columns: repeat(auto-fill, 60vw);
    }
    .exercises-list__img {
        width: 60vw;
    }
    .exercise__header {
        margin-bottom: 40px;
        flex-direction: column;
        gap: 0;
    }
} */

/* Now */
@media all and (max-device-width: 768px) {
    h2 {
        font-size: 48px;
    }
    header {
        padding: 16px 40px;
    }
    .main__about-me,
    .main__whom,
    .main__result,
    .main__stage,
    .main__tariff {
        padding: 0 40px;
        margin-top: 130px;
    }

    .main__welcome {
        margin: 24px 20px;
        min-height: calc(85vh - 140px);
        overflow: hidden;
    }
    .main__welcome_title {
        font-size: 90px;
        padding: 24px 0 0 0;
    }
    .main__welcome_subtitle {
        font-size: 150px;
        padding: 0;
    }
    .main__welcome_avatar {
        max-width: 490px;
        right: -75px;
    }
    .main__welcome_block-message {
        position: absolute;
        bottom: 100px;
        align-items: flex-start;
    }
    .main__welcome_block-strength {
        width: 60vw;
        margin-left: 5%;
    }
    .main__welcome_block-connect {
        margin-right: 75%;
    }
    .main__welcome_btn {
        position: absolute;
        bottom: 20px;
        padding: 12px 22px;
        width: calc(100% - 48px);
    }

    .main__about-me_title {
        margin-bottom: 16px;
    }
    .main__about-me_subtitle {
        margin-bottom: 48px;
    }
    .main__about-me_block-card {
        grid-template-columns: 1fr;
    }

    .main__whom_title {
        margin-bottom: 48px;
    }
    .main__whom_card-list {
        grid-template-columns: 1fr;
    }

    .main__result_title {
        margin-bottom: 48px;
    }

    .main__stage__title {
        margin-bottom: 48px;
    }
    .main__stage_block-card {
        grid-template-columns: 1fr;
    }
}
/* Между планшетом и телефоном */
@media (min-width: 480px) and (max-width: 540px) {
    .main__welcome_title {
        font-size: 75px;
    }
    .main__welcome_subtitle {
        font-size: 120px;
    }
    .main__welcome_avatar {
        max-width: 430px;
        right: -115px;
    }
}
@media all and (max-device-width: 480px) {
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 20px;
    }
    .header__title {
        display: none;
    }
    .exercises-list__content{
        grid-template-columns: 1fr;
        padding: 0 30%;
    }
    .exercises-list__img-block{
        min-height: 35vh;
    }
    .exercises-list__img{
        width: 60vw;
    }
    .main__about-me,
    .main__whom,
    .main__result,
    .main__stage,
    .main__tariff {
        min-height: 75vh;
        padding: 0 16px;
    }

    .main__welcome {
        margin: 16px;
        min-height: calc(85vh - 140px);
    }
    .main__welcome_title {
        font-size: 55px;
    }
    .main__welcome_subtitle {
        font-size: 20vw;
    }
    .main__welcome_avatar {
        max-width: 370px;
        left: 20vw;
    }
    .main__welcome_block-message {
        position: absolute;
        bottom: 100px;
    }
    .main__welcome_block-strength {
        width: 265px;
        margin-left: 10%;
    }
    .main__welcome_btn {
        position: absolute;
        bottom: 20px;
        padding: 12px 22px;
    }

    .main__about-me_card_block-img {
        min-width: 60px;
        min-height: 60px;
    }

    .main__result-img {
        max-height: auto;
        max-width: 100%;
    }
}
@media all and (max-device-width: 375px) {
    header .header__payment {
        gap: 10px;
    }

    .main__about-me, .main__whom, .main__result, .main__stage, .main__tariff {
        min-height: 60vh;
    }

    .main__about-me_card_block-img {
        min-width: 50px;
        min-height: 50px;
    }
    .main__about-me_card_block-img img {
        width: 35px;
        height: 35px;
    }
    
}
