PORT=5000
DB_URL=mongodb://localhost:27017/nikassdgym
CLIENT_URL=http://localhost:3000
API_URL=http://localhost:5000/api

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

YOOKASSA_STORE_ID=
YOOKASSA_SECRET_KEY=

# true на проде (https), false для локальной разработки по http
COOKIE_SECURE=false
